
/* Abel font-family */

@font-face
{
font-family:Abel;
src:url('../font/Abel/Abel-Regular.ttf');
}

/* anton font-family */

@font-face{
    font-family:Anton;
    src:url('../font/Anton/Anton-Regular.ttf');
}


/*  Josefin_Sans font-family */

@font-face{
    font-family: Josefin_Sans;
    src:url('../font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}


/*  Lexend_Deca font-family */

@font-face{
    font-family: Lexend_Deca;
    src:url('../font/Lexend_Deca/LexendDeca-Regular.ttf');
}



/*  Livvic font-family */

@font-face{
    font-family: Livvic;
    src:url('../font/Livvic/Livvic-Regular.ttf');
}